@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-color: #f2eff7;
}
